<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="jo.edu.just.se.jdt.astsimple.handler.GetInfo"
            id="jo.edu.just.se.jdt.astsimple.GetInfo"
            name="Get Info">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <command
               commandId="jo.edu.just.se.jdt.astsimple.GetInfo"
               label="Get Info"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
